<%- include ('partials/header.ejs')%>
<div class="box col-lg-4 col-sm-9 col-9 col-md-5">
  <form action="/compose" method="POST">
    <label for="title">BLOG TITLE</label>
    <input type="text" name="title" id="title" required/>
    <label for="blog">BLOG CONTENT</label>
    <textarea name="blog" id="" cols="30" rows="5" required></textarea>
    <button class="btn btn-warning" type="submit">POST</button>
  </form>
</div>
<%- include ('partials/footer.ejs')%>
